@using Mvc5StarterKit.Managers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Izenda ASP.NET MVC StarterKit</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* Apply css based on the users tenant *@
    <link href="~/Scripts/izenda/izenda-ui.css" rel="stylesheet">

    @*Add Custom CSS based on the tenantId and path set in izendaCssPath above *@
    <link href=@IzendaSkinHelper.GetCurrentTenantCssPath() rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC5 StarterKit", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("ReadMe", "ReadMe", "Home")</li>
                    <li>@Html.ActionLink("API", "API", "Home")</li>

                    @* #izenda *@
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Izenda", "Izenda", "Home")</li>
                        <li>@Html.ActionLink("Settings", "Settings", "Home")</li>

                        @* Reports *@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Reports
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("New Report", "ReportDesigner", "Home")</li>
                                <li>@Html.ActionLink("Report List", "Reports", "Home")</li>
                                @* Add to report Viewer to Demo, hardcode Report ID to link user to a specific report - please update the report id with one created in your enviroment*@
                                <li>@Html.ActionLink("Report Viewer", "ReportViewer", "Report", new { id = "[your report id]" }, null)</li>
                                <li>@Html.ActionLink("Report Parts", "ReportParts", "Report")</li>
                                <li>@Html.ActionLink("Advanced Report Parts", "AdvancedReportParts", "Report")</li>

                            </ul>
                        </li>

                        @* Dashboards *@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Dashboards
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("New Dashboard", "DashboardDesigner", "Home")</li>
                                <li>@Html.ActionLink("Dashboard List", "Dashboards", "Home")</li>
                                <li>@Html.ActionLink("Dashboard Viewer", "DashboardViewer", "Dashboard", new { id = "[your dashboard id]" }, null)</li>
                            </ul>
                        </li>
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Izenda Integrated BI Platform - Version @IzendaSkinHelper.GetCurrentProductVersion()</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @* #izenda *@
    <script src="~/Scripts/alertify.js"></script>
    @Scripts.Render("~/bundles/izenda")

    <script type="text/javascript">
        $(document).ready(function () {
            DoIzendaConfig();
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="dropdown"]').dropdown();
            $("#reportPartLoader").hide();
            $("#reportPartLoaderText").hide();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
